$removeBack: #d0d0d0;
$removeBHover: #f56969;
$photoWidth: 300px;
$photoWidth2: 200px;
$photoWidth3: 150px;
* {
	margin: 0;
	padding: 0;
}
input,
button {
	margin: 0 0 7px 0;
}
button {
	padding: 1px 6px;
}
#main {
	padding: 0 1em;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.gallery {
	// display: grid;
	// grid-template-columns: repeat(auto-fill, minmax($photoWidth, 1fr));
	// grid-gap: 1em;
	// display: inline-flex;
	margin-bottom: 1em;
	.gallery__container {
		position: relative;
		display: inline-block;
		&:hover .gallery__remove {
			display: block;
		}
		// &::before {
		// 	content: 'Загрузка...';
		// 	z-index: 1;
		// 	display: flex;
		// 	justify-content: center;
		// 	align-items: center;
		// 	height: 100%;
		// 	font-size: 3.5em;
		// 	background: #b9b9b9;
		// 	color: #717171;
		// 	position: absolute;
		// 	width: 100%;
		// 	top: 0;
		// 	left: 0;
		// }
	}

	.gallery__remove {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 5px;
		background: $removeBack;
		display: none;
		z-index: 2;
		&:hover {
			background: $removeBHover;
			cursor: pointer;
		}
	}
	.gallery__img {
		// width: 100%;
		object-fit: cover;
		height: $photoWidth;
		display: block;
		position: relative;
		z-index: 2;
		// padding: 0 2px;
	}
}

#drop-area {
	border: 2px solid #ccc;
	font-family: sans-serif;
	margin: 1em auto;
	padding: 20px;
	position: relative;
	overflow: hidden;
	.hover {
		border-color: #4d4af5;
	}
	.drop {
		border-color: #28ff33;
	}
}
@media (max-width: 1100px) {
	.gallery {
		grid-template-columns: repeat(auto-fill, minmax($photoWidth2, 1fr));
		.gallery__img {
			height: $photoWidth2;
		}
		.gallery__container::before {
			font-size: 2em;
		}
	}
}
@media (max-width: 500px) {
	.gallery {
		grid-template-columns: repeat(auto-fill, minmax($photoWidth3, 1fr));
		.gallery__img {
			height: $photoWidth3;
		}
		.gallery__container::before {
			font-size: 1em;
		}
	}
}
